*{
    margin: 0;
    padding: 0;
}

:root{
    --color1: #fff ;
    --color2: #6137ff ;
}
.fights{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    overflow: hidden;
    position: relative;
    background-color: #171717;
}
.fights > iframe{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fights .title{
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  clamp(1vw, 2vw, 2vw);;
    color: #fff;
    text-shadow:  0 0 4px var(--color1),0 0 2px var(--color2),0 0 20px var(--color2),0 0 30px var(--color2);
    text-transform: uppercase;
    z-index: 2;
}
.fights .title.active{
    color: red;
}
.fights .videos{
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fights .videos .video{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.fights .videos img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.fights .videos .video span{
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    color: var(--color1);
    text-shadow:  0 0 4px var(--color1),0 0 2px var(--color2),0 0 20px var(--color2),0 0 30px var(--color2);
    text-transform: capitalize;
    font-size:  clamp(1vw, 1vw, 2vw);;
    opacity: 0;
    transition: 1s;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 60% 30%, 50% 55%, 40% 30%, 0 30%);
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 100px;
}
.fights .video:hover span{
    opacity: 1;
}
@media (max-width:767px) {
    .fights .title {
        bottom: 20%;
        font-size: clamp(1vw, 5vw, 7vw);
        width: 100%;
        text-align: center;
    }
    .fights > iframe {
        width: 86%;
        height: auto;
    }
    .fights {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: end;
        align-items: center;
    gap: 10vh;
    }
    .fights .videos {
        width: 100%;
    }
    .fights .videos img {
        width: 70%;
        height: 70%;
    }
}